.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #0d0d0d;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;

    &__logo a {
        color: #fff;
        font-size: 1.8rem;
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 1px;
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 2rem;

        a {
            color: #fff;
            text-decoration: none;
            font-size: 1rem;
            transition: color 0.3s;

            &:hover {
                color: #ff4081;
            }
        }

        .navbar__socials {
            display: flex;
            gap: 1rem;
            margin-left: 2rem;

            a {
                font-size: 1.2rem;
                color: #fff;
                transition: color 0.3s;

                &:hover {
                    color: #ff4081;
                    text-decoration: none;

                }
            }
        }

        @media (max-width: 768px) {
            position: absolute;
            top: 100%;
            left: 0;
            flex-direction: column;
            width: 100%;
            background-color: #111;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;

            &.open {
                max-height: 350px;
                padding: 1rem 0;
            }

            .navbar__socials {
                margin: 1rem 0 0;
            }
        }
    }

    &__toggle {
        display: none;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;

        span {
            height: 2px;
            width: 25px;
            background: white;
            transition: all 0.3s;
        }

        &.open span:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
        }

        &.open span:nth-child(2) {
            opacity: 0;
        }

        &.open span:nth-child(3) {
            transform: rotate(-45deg) translate(6px, -6px);
        }

        @media (max-width: 768px) {
            display: flex;
        }
    }
}